html
	head
		script(src='http://code.jquery.com/jquery-3.0.0.min.js', integrity='sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=', crossorigin='anonymous')
	body
		select#font
		input#input(type='text', placeholder='your banner here')
		pre#output
		script(src="./figlet.js")
		script(src="./script.js")
